```
Today Agenda
-----
- Iterations
- Strings,Methods
- List , Methods
- Tuple , Method
```

## Iterations
- For Loop
- While

In [2]:
# print the Required table
num = int(input("Enter the Required table number"))
for i in range(1,11):
    print(num,"*",i,"=",num*i)

Enter the Required table number125
125 * 1 = 125
125 * 2 = 250
125 * 3 = 375
125 * 4 = 500
125 * 5 = 625
125 * 6 = 750
125 * 7 = 875
125 * 8 = 1000
125 * 9 = 1125
125 * 10 = 1250

In [3]:
# while
# reverse the number
Number = int(input("Please Enter any Number: "))
Reverse = 0   125 12
while(Number > 0):
    Reminder = Number %10.
    Reverse = (Reverse *10) + Reminder.
    Number = Number //10.
print("\n Reverse of entered number is = %d" %Reverse)

SyntaxError: invalid syntax (<ipython-input-3-485c986b1a21>, line 4)

In [4]:
While num>0:
    Res=num%10
    d = d*10+Res
    num=num//10
Print(Res)

SyntaxError: invalid syntax (<ipython-input-4-a0b39cb555bb>, line 1)

In [5]:
N=0
Rem=n%10
N=(n*10)+rem
Num=num//10

NameError: name 'n' is not defined

In [7]:
n=125
print(n[::-1])

521

# String
- Group of Characters
- String is immutable
- String assign in single or double or thrible quotations

In [8]:
s = 'String'
s1 = "String"
s2 = "'String'"

In [9]:
s1

'String'

In [10]:
s2

"'String'"

In [11]:
s

'String'

In [12]:
s[0]

'S'

In [13]:
s[0]='s'

TypeError: 'str' object does not support item assignment

In [14]:
del s[1]

TypeError: 'str' object doesn't support item deletion

In [15]:
str1 = "Ranganayakulu"
str1[0]

'R'

In [16]:
str1[0:5]

'Ranga'

In [17]:
str1[::2]

'Rnaaauu'

In [18]:
str1[::-1]

'ulukayanagnaR'

```
cap
toupper
count
find
split
tolower
lower
lstrip
rstrip
title
startswith
endswith
len()
join
strip
rfind
index
isalnum()
maketrans()
zfill()
isnumeric()
swapcase()
```

In [19]:
wor = "DataScience"
wor.capitalize()

'Datascience'

In [20]:
"datascience".capitalize()

'Datascience'

In [21]:
# it converts upper letters to lower letters
wor.casefold()

'datascience'

In [24]:
wor.center(25)

'       DataScience       '

In [25]:
wor.count('a')

2

In [27]:
type(wor.encode())

bytes

In [28]:
wor.endswith('a')

False

In [29]:
wor.expandtabs()

'DataScience'

In [30]:
p = "ranga\tsiva\t123"
p.expandtabs(1)

'ranga siva 123'

In [31]:
p.expandtabs(5)

'ranga     siva 123'

In [32]:
p.expandtabs()

'ranga   siva    123'

In [33]:
wor.find('2')

-1

In [34]:
wor

'DataScience'

In [35]:
wor.find('D')

0

In [36]:
# format
k = "Hii this is {name}, i am teaching {course}".format(name="Ranga",course="datascience")
print(k)

Hii this is Ranga, i am teaching datascience

In [39]:
print("hii,my name is{}".format("harshini"))

hii,my name isharshini

In [40]:
str1 = "AndhraLoyola"
str1.index('d')

2

In [41]:
str1.isalnum()

True

In [42]:
str2="apssdc123"
str2.isalnum()

True

In [43]:
str3 = "ap@sdc"
str3.isalnum()

False

In [44]:
str1.isalpha()

True

In [45]:
str2.isalpha()

False

In [46]:
str2

'apssdc123'

In [47]:
str1.isascii()

True

In [48]:
str1.isidentifier()

True

In [49]:
str1.islower()

False

In [50]:
str1

'AndhraLoyola'

In [51]:
str1.isupper()

False

In [52]:
str1

'AndhraLoyola'

In [54]:
p = "ANDHRA"
p.isupper()

True

In [55]:
str1.isspace()

False

In [56]:
d = " "
d.isspace()

True

In [57]:
["alekhya"," ","harsini","hemanth","madevi"," ","Anil"]

['alekhya', ' ', 'harsini', 'hemanth', 'madevi', ' ', 'Anil']

In [58]:
d.istitle()

False

In [59]:
p = "tile"
p.istitle()

False

In [60]:
p = "Tile"
p.istitle()

True

In [61]:
p = "TAIL"
p.istitle()

False

In [64]:
str1.ljust(25)

'AndhraLoyola             '

In [66]:
str1.partition('a')

('Andhr', 'a', 'Loyola')

In [67]:
str1.rpartition('a')

('AndhraLoyol', 'a', '')

In [68]:
str1.swapcase()

'aNDHRAlOYOLA'

In [69]:
# Lower --> upper
# upper --> lower
str1.split('a')

['Andhr', 'Loyol', '']

In [70]:
y = "       space           "
y.strip()

'space'

In [71]:
y.rstrip()

'       space'

In [72]:
y.lstrip()

'space           '

# List

- Mutable
- ordered Collection of elements
- Iterable
- Collection of similar types of data
- Different types of data
- indexing is possible
- Collection of elements,mutable,duplicate characters and elements,[]

List
- It is declare with []
- Seperates the values using ,(comma)

In [73]:
Stds_names= ['Lakshmi','Jagruthi','Sowjanya','Hemanth','Anil','Alekhya']

In [76]:
Stds_names[0]

'Lakshmi'

In [77]:
Stds_names[0:3]

['Lakshmi', 'Jagruthi', 'Sowjanya']

```
insert()
remove()
extend()
append()
reverse()
len()
sort()
clear()
copy()
index()
pop()
count()
sum(),max(),min()
```

length(),min(),max(),sort(),pop(),copy(),remove(),append(),extend(),insert(),count()sum(),index(),clear()

In [79]:
# insert
stds = ['Lakshmi','haasitha','supriya','alekhya','madevi','anil','ranga']

In [82]:
stds.insert(2,'tejasri')

In [83]:
stds

['Lakshmi',
 'haasitha',
 'tejasri',
 'supriya',
 'alekhya',
 'madevi',
 'anil',
 'ranga']

In [84]:
stds.append('hema')

In [85]:
stds

['Lakshmi',
 'haasitha',
 'tejasri',
 'supriya',
 'alekhya',
 'madevi',
 'anil',
 'ranga',
 'hema']

In [86]:
# extend
stds.extend()

In [87]:
stds

['Lakshmi',
 'haasitha',
 'tejasri',
 'supriya',
 'alekhya',
 'madevi',
 'anil',
 'ranga',
 'hema',
 'S',
 'a',
 'i']

In [88]:
stds.append(['Gopi',"ranga","himavanth",'Kumar'])

In [89]:
stds

['Lakshmi',
 'haasitha',
 'tejasri',
 'supriya',
 'alekhya',
 'madevi',
 'anil',
 'ranga',
 'hema',
 'S',
 'a',
 'i',
 ['Gopi', 'ranga', 'himavanth', 'Kumar']]

In [90]:
stds.extend(['Gopi',"ranga","himavanth",'Kumar'])

In [91]:
stds

['Lakshmi',
 'haasitha',
 'tejasri',
 'supriya',
 'alekhya',
 'madevi',
 'anil',
 'ranga',
 'hema',
 'S',
 'a',
 'i',
 ['Gopi', 'ranga', 'himavanth', 'Kumar'],
 'Gopi',
 'ranga',
 'himavanth',
 'Kumar']

In [92]:
stds.remove(['Gopi', 'ranga', 'himavanth', 'Kumar'])

In [93]:
stds

['Lakshmi',
 'haasitha',
 'tejasri',
 'supriya',
 'alekhya',
 'madevi',
 'anil',
 'ranga',
 'hema',
 'S',
 'a',
 'i',
 'Gopi',
 'ranga',
 'himavanth',
 'Kumar']

In [94]:
stds.pop()

'Kumar'

In [95]:
stds.pop(8)

'hema'

In [96]:
stds

['Lakshmi',
 'haasitha',
 'tejasri',
 'supriya',
 'alekhya',
 'madevi',
 'anil',
 'ranga',
 'S',
 'a',
 'i',
 'Gopi',
 'ranga',
 'himavanth']

In [97]:
stds.count('ranga')

2

In [98]:
std2 = stds.copy()

In [99]:
std2

['Lakshmi',
 'haasitha',
 'tejasri',
 'supriya',
 'alekhya',
 'madevi',
 'anil',
 'ranga',
 'S',
 'a',
 'i',
 'Gopi',
 'ranga',
 'himavanth']

In [100]:
stds

['Lakshmi',
 'haasitha',
 'tejasri',
 'supriya',
 'alekhya',
 'madevi',
 'anil',
 'ranga',
 'S',
 'a',
 'i',
 'Gopi',
 'ranga',
 'himavanth']

In [101]:
stds.reverse()

In [102]:
stds

['himavanth',
 'ranga',
 'Gopi',
 'i',
 'a',
 'S',
 'ranga',
 'anil',
 'madevi',
 'alekhya',
 'supriya',
 'tejasri',
 'haasitha',
 'Lakshmi']

In [103]:
stds.sort()

In [104]:
stds

['Gopi',
 'Lakshmi',
 'S',
 'a',
 'alekhya',
 'anil',
 'haasitha',
 'himavanth',
 'i',
 'madevi',
 'ranga',
 'ranga',
 'supriya',
 'tejasri']

max() -->maximum
min()-->minimum value

tuple
- It is immutable
- It is ordeded
- it is declare with ()

In [105]:
t1 = (1,8,6,4,2)

In [106]:
t1

(1, 8, 6, 4, 2)

In [107]:
t1[0]

1

In [108]:
t1[0:]

(1, 8, 6, 4, 2)

In [109]:
t1.count('5')

0

In [110]:
t1.index(5)

ValueError: tuple.index(x): x not in tuple

In [111]:
t1.index(1)

0

```
1. take the string and print the ascii values in list
2. Take paragraph and after space string must be in capital letter
3. find the number of duplicates in the string 
4. take one list with stds names 
    - Starting char must be capital letter
    - print only last char as "A"
```