In [2]:
usernames = ["Anil","Ranga","Madevi","aesha","sravani"]
passwords =["anil","siva","mdv",'aesha','lucky']
user = input("Enter the user name")
if user in usernames:
    pass1 = input("Enter the password")
    if pass1 in passwords:
        print("Successfully login in to our page")
    else:
        print("Password is incorrect please check once")
else:
    print("Your username is not available first register")

Enter the user nameAnil
Enter the passwordanil
Successfully login in to our page

```
Today Agenda
- Dictionary
- Dict Methods
- Set
- Files
- Compre(List,Dict)
```

Dictionary:
- key , value 
- Mutable
- Unordered List
- Must have Unique Key
- Represent with {}
- Seperate with ,
- It accept duplicate values 
- key and value with :

- [] --> List,() --> tuple,{} -->dict,set,<>

In [3]:
dict1 = {"Name":"Teja Sri","Salary":150000,"Desig":"Developer"}
dict1

{'Name': 'Teja Sri', 'Salary': 150000, 'Desig': 'Developer'}

```
get()
len()
items()
keys()
pop()
update()
values()
clear()
copy()
setdefault()
fromkeys()
popitem()
```

In [5]:
dict1['Name']

'Teja Sri'

dict1[key] --> value

In [6]:
# keys()
dict1.keys()

dict_keys(['Name', 'Salary', 'Desig'])

In [7]:
# values()
dict1.values()

dict_values(['Teja Sri', 150000, 'Developer'])

In [8]:
dict1.items()

dict_items([('Name', 'Teja Sri'), ('Salary', 150000), ('Desig', 'Developer')])

In [9]:
dict1['Name']

'Teja Sri'

In [10]:
dict1.get('Name')

'Teja Sri'

In [11]:
dict1.pop()

TypeError: pop expected at least 1 arguments, got 0

In [12]:
dict1.pop('Salary')

150000

In [13]:
dict1

{'Name': 'Teja Sri', 'Desig': 'Developer'}

In [14]:
dict1['salary']=52000

In [15]:
dict1

{'Name': 'Teja Sri', 'Desig': 'Developer', 'salary': 52000}

In [16]:
dict1.popitem()

('salary', 52000)

In [17]:
dict1

{'Name': 'Teja Sri', 'Desig': 'Developer'}

In [18]:
dict1.clear()

In [19]:
dict1

{}

In [20]:
k = ["name","salary","desig"]
g = dict.fromkeys(k)
g

{'name': None, 'salary': None, 'desig': None}

In [21]:
n = {"name":"satya","desig":"manager"}
k = dict.fromkeys(n)
k

{'name': None, 'desig': None}

In [23]:
byke = {"model":"honda15","color":"black"}

byke.setdefault("cv",150)

150

In [24]:
b= byke.copy()
b

{'model': 'honda15', 'color': 'black', 'cv': 150}

## Files

```
1. we need to open the notebook
2. write/Read/append
3. close

Modes:
x --> Create the file
r --> read the data
w --> Write
a --> append
```

In [28]:
f = open("notebook.txt",'r')
k = f.read()
f.close()
print(k)

Hii how are you,How the carona effect in your location

In [31]:
f=open("notebook.txt",'a')
K=f.write("good to see you")
f.close()
print(K)

15

In [34]:
f1 = open("notebook.txt",'a')
p=f1.write("This is session on DataScience for AndhraLoyola")
f1.close()

In [35]:
f2 = open("notebook.txt",'r')
print(f2.read())

good to see yougood to see youThis is session on DataScience for AndhraLoyola

```
readline() --> Read the one line
readlines() --> Reads the all lines in file
tell() --> Get the position of file or current position
seek() --> sets the file location

This is SivaRanganayakulu
```

In [36]:
f3 = open("notebook.txt",'r')
print(f3.read())
f3.close()

good to see yougood to see youThis is session on DataScience for AndhraLoyola

This is third line

this is fifth line

In [39]:
f3 = open("notebook.txt",'r')
print(f3.readline())
print(f3.readline())
print(f3.readline())
f3.close()

good to see yougood to see youThis is session on DataScience for AndhraLoyola



This is third line

In [40]:
f4 = open('notebook.txt','r')
print(f4.tell())
print(f4.readlines())
f4.close()

0
['good to see yougood to see youThis is session on DataScience for AndhraLoyola\n', '\n', 'This is third line\n', '\n', 'this is fifth line']

In [41]:
f4 = open('notebook.txt','r')
print(f4.tell())
print(f4.readlines())
print("After readlines method",f4.tell())
f4.close()

0
['good to see yougood to see youThis is session on DataScience for AndhraLoyola\n', '\n', 'This is third line\n', '\n', 'this is fifth line']
After readlines method 117

In [42]:
f5 = open("notebook.txt",'a')
f5.seek(100)
f5.write("from 100 position to len of given words")
f5.close()

In [43]:
f6 = open("notebook.txt")
print(f6.read(120))
f6.close()

good to see yougood to see youThis is session on DataScience for AndhraLoyola

This is third line

this is fifth linefro

In [44]:
f6 = open("notebook.txt")
print(f6.readlines(120))
f6.close()

['good to see yougood to see youThis is session on DataScience for AndhraLoyola\n', '\n', 'This is third line\n', '\n', 'this is fifth linefrom 100 position to len of given words']

In [45]:
f = open("newfile.txt",'x')
for line in f:

In [47]:
f = open("notebook.txt")
#print(f.readlines().len())
len(f.readlines())

5

## Set

- unordered list
- mutable
- doesn't allow duplicates
- sorted order
- {}

In [48]:
g = {1,2,5,3,10,8}
print(g)

{1, 2, 3, 5, 8, 10}

In [51]:
p = {1,2,5,4,1,3,5,10,20}
p

{1, 2, 3, 4, 5, 10, 20}

[10,20,30,40] --> [20,20,30,40]
(10,20,30,40) --> 
{} -->

add(), remove (), pop(), update(), discard(), clear(), copy(), union(),  intersection(), intersection_update() symmetric_difference(), symmetric_difference_update(), difference(), difference_update(),  issubset(), issuperset(), isdisjoint(), sum(), max(), min(), len()

In [52]:
# List Comprehension

In [54]:
l=[i**2 for i in range(10)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [56]:
l=[i**2 for i in range(1,11)]

In [57]:
[n**2 for n in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = [number ** 2 for number in numbers]

print(squared_numbers)

[1, 4, 9, 16, 25]

In [59]:
numbers = [1, 2, 3, 4, 5,6,7,8,9,10]

squared_numbers = [number ** 2 for number in numbers]

print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
{n:n**2 for n in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [61]:
d=dict( for x in range(1,16): d[x]=x**2 
print(d)

SyntaxError: invalid syntax (<ipython-input-61-6c57a559da85>, line 1)

In [62]:
D = {x: x**2 for x in range(5)}
print(D)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [63]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
{i:i**2  for i in range(1,11) if i%2==0}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}